
<style type="text/css" media="screen">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <h1>3) Details based on latitude ranges and query instances using in memory caching mechanism or none</h1>
    <table>
        <tr>
            <th>Magnitudes</th>
            <th>Count</th>
            <th>Time (ms)</th>
        </tr>
    
        {% for row in result %}
        <tr>
            <td> {{ row["numbers"] }} </td>
            <td> {{ row["count"] }} </td>
            <td> {{ row["time"] }} </td>
        </tr>
        {% endfor %}
    </table>
    