
<style type="text/css" media="screen">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <h1>1) Details based on magnitude ranges</h1>
    Execution time = {{ execution_time }}<br>
    <table>
        <tr>
            <th>Time</th>
            <th>Place</th>
            <th>Magnitude</th>
        </tr>
    
        {% for row in result %}
        <tr>
            <td> {{ row[0] }} </td>
            <td> {{ row[1] }} </td>
            <td> {{ row[2] }} </td>
        </tr>
        {% endfor %}
    </table>