
<style type="text/css" media="screen">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <h1>2) Details based on magnitude ranges and query instances</h1>
    Total Execution time = {{ execution_time }} ms<br>
    <table>
        <tr>
            <th>Magnitudes</th>
            <th>Time (ms)</th>
        </tr>
    
        {% for row in result %}
        <tr>
            <td> {{ row["numbers"] }} </td>
            <td> {{ row["time"] }} </td>
        </tr>
        {% endfor %}
    </table>
    